[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "most_queue"
version = "1.62"
authors = [
  { name="Xabarov Roman", email="xabarov1985@gmail.com" },
]
description = "Software package for calculation and simulation of queuing systems"
readme = "README.md"
license = { file="LICENSE" }
requires-python = ">=3.9"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
  "colorama",
  "matplotlib",
  "numpy",
  "pandas",
  "scipy==1.13.0",
  "tqdm",
  "graphviz",
  "networkx",
  "pyyaml",
]
[project.urls]
"Homepage" = "https://github.com/xabarov/most-queue"


